/* Contacts Page
----------------------------------------------------------*/

.contactss-page {

}

.contacts-list {
	.flex-justify-content;
	margin-bottom: 28px;
}
.contacts-list__item {

}
.contact-item__heading {
	margin-bottom: 12px;
    font-weight: 700;
	font-size: 18px;
}
.contact-item__text {
	
}


@media ( max-width: 1199px ) {

}

@media ( max-width: 991px ) {

}

@media ( max-width: 767px ) {

}
